# LifeHedge — Variables de entorno de Supabase

# Para frontend/.env
VITE_SUPABASE_URL=https://kjgcfcjjtqfmwfkodrkj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqZ2NmY2pqdHFmbXdma29kcmtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3MTk4NzMsImV4cCI6MjEwNDI5NTg3M30.55fsCkI9OkQ4T0RjYczGvzB8tdskUQPfV2K34cSY__0

# Para backend/.env (usado en verificación JWT)
SUPABASE_JWT_SECRET=vZtRCCdh2h/jyNk9jP7RhVOnUGLgKlfPiAs8XSHIK5xQFAE6TE7MDDEfO/MB0pY+fbDEgYXuNylw8mR2WMeufQ==
